<h1>Listing Event Applications</h1>

<table>
  <tr>
    <th>Where</th>
    <th>Why</th>
    <th>Who</th>
    <th>Contributions</th>
    <th>Heard of us</th>
    <th>Goals</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_applications.each do |event_application| %>
  <tr>
    <td><%= event_application.where %></td>
    <td><%= event_application.why %></td>
    <td><%= event_application.who %></td>
    <td><%= event_application.contributions %></td>
    <td><%= event_application.heard_of_us %></td>
    <td><%= event_application.goals %></td>
    <td><%= event_application.user.name %></td>
    <td><%= link_to 'Show', event_application %></td>
    <td><%= link_to 'Edit', edit_event_application_path(event_application) %></td>
    <td><%= link_to 'Destroy', event_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event application', new_event_application_path %>
