<div id="home" class="row home">	
<div class="container">
	<div class="row">
		<h1>Artup Weekend</h1>
		<div class="lead pull-right pitch">Artup Weekend is a global network of passionate artists and cultural creatives on a mission to inspire, educate, and empower individuals, teams and communities. Come share ideas, form teams, and create art.</div>
	</div>
	<div class='row'>
		<% @events.each do |event| %>
			<div>
				<%= link_to root_url(subdomain: event.subdomain) do %>
					<%= event.name %> 
				<% end %>
					- <%= event.start_date %> <%= link_to "register ($60)", "http://artupweekendmadison.eventbrite.com/" %></a></div>
		<% end %>
		<div><a href="#contact_us">your city here . . .</a></div>
	</div>
	<div class="social-shares">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="artupweekend" data-size="large" data-hashtags="artupweekend">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<div class="fb-like" data-href="http://www.facebook.com/artupweekend" data-send="true" data-width="150" data-show-faces="true"></div>
	</div>
</div>
</div>

<div id="how" class="row how">
	<div class="container">
		<div class="row">
			<h1>How It Works</h1>
				<div>Creative people show up</div>
				<div>They bring <span><h2 style="display:inline;">1</h2></span> page of sketchs and <span><h2 style="display:inline">1</h2></span> page for an artist statment per idea</div>
				<div>Everyone gets <span><h2 style="display:inline;">5</h2></span> votes</div>
				<div>Everyone votes for projects they want to see made</div>
				<div>Teams form around the top <span><h2 style="display:inline;">~25</h2></span> projects</div>
				<div>Funds for materials are available based on votes to those pieces</div>
			<blockquote>
				<span><h2 style="display:inline;">48</h2></span> hours later
			</blockquote>
			<div>Let the gallery begin</div>
			<hr>
			<blockquote>
				Total: 54 hours
			</blockquote>
		</div>
	</div>
</div>

<div id="contact_us" class="row contact_us">
	<div class="clearfix contact">
		<h1>Contact us</h1>
		<div class="span7 offset2">
		<%= form_for @email_subscription do |f| %>
		  <% if @email_subscription.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@email_subscription.errors.count, "error") %> prohibited this email_subscription from being saved:</h2>

		      <ul>
		      <% @email_subscription.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <%= f.label :name, "name*" %>
			<%= f.text_field :name %>

		  <%= f.label :email, "email*" %>
			<%= f.text_field :email %>

		  <%= f.label :phone, "phone*" %>
			<%= f.text_field :phone %>

		  <%= f.label :message, "message*" %>
			<%= f.text_area :message %>
<br>
			<%= f.submit "Send", class:"btn btn-success pull-right send-button" %>
		<% end %>
		</div>
	</div>
</div>