<div id="home" class="row home">	
	<div class="clearfix block">
		<h1 class="text-center">words</br>numbers<br>images</h1>
	<div class="social-buttons">
		<a href="https://twitter.com/wni_llc" class="twitter-follow-button" data-show-count="false">Follow @wni_llc</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/FollowCompany" data-id="2946526" data-counter="none"></script>
	</div>
	</div>

	<div class="four-lines-container">
		<%= image_tag "big_four_lines.png", class:"four-lines" %>
	</div>
	<div class="lead text-center tag-line">Business consulting for this generation</div>
</div>

<div id="pitch" class="row pitch">
	<div class="clearfix block">
		<h1 class="text-center">Is you business stuck in the inbox?</h1>
	</div>
</div>

<div id="services" class="row services">
	<div class="clearfix block">
			<div class="row">
				<div class="span6 text-center" style="margin: 0;">
					<div class="ball red"><i class="icon-thumbs-up"></i></div>
					<div class="lead"><strong>Contextual Web</strong></div>
					<p>
						The information age is dead.
						Now data needs context to be valuable.
						We provide web solutions for your context. 
					</p>
				</div>
				<div class="span6 text-center">
					<div class="ball green"><i class="icon-question-sign"></i></div>
					<div class="lead"><strong>Questions and Answers</strong></div>
					<p>
						Is your organization stuck in your email box? 
						Our platform will change everything.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span6 text-center">
					<div class="ball pink"><i class="icon-flag"></i></div>
					<div class="lead"><strong>Corporate Intrapreneurship</strong></div>
					<p>
						We are a team of corporate innovators gone rouge. 
						Let us teach you how to crowdsource creativity. 
					</p>
				</div>
				<div class="span6 text-center">
					<div class="ball blue"><i class="icon-trophy"></i></div>
					<div class="lead"><strong>Y-gen talent Management</strong></div>
					<p>
						How to attract, retain, and engage young talent?
						Well, lets just say it’s not about parking spaces and bigger cubicals.
					</p>
				</div>
			</div>
	</div>
</div>

<div id="work" class="row">
	<div class="clearfix block">
		<h1 class="text-center">Work</h1>
		<div class="row">
			<div class="span6 work-img" id="mu">
				<%= image_tag 'mu.png' %>
			</div>
			<div class="span6 work-img" id="db">
				<%= image_tag 'db.png' %>
			</div>
		</div>
		<div class="row">
			<div class="span6 work-img" id="rb">
				<%= image_tag 'rainbird.png' %>
			</div>		
			<div class="span6 work-img" id="fbiz">
				<%= image_tag 'fbiz.png' %>
			</div>
		</div>
	</div>
</div>

<div id="principles" class="row about">
	<div class="clearfix block">
			<h1 class="text-center">Team</h1>
			<div class="niko-about">
				<%= image_tag "niko2.png" %>
				<div class="lead text-center">Nikolai Skievaski</div>
				Niko never eats alone. Before getting a MS in Economics from BU, Niko worked more than 5 years at Wells Fargo innovating the way they reward and motivate teams. After his MS, Niko took off like a rocket ship at Epic doing pricing, HR, operations, and administartion. He reached escape velocity two years later and started Words Numbers Images.
				<div class="social-box">
					<%= link_to "www.linkedin.com/pub/niko-skievaski/13/b76/b67" do %>
						<i class="icon-linkedin"></i>
					<% end %>
					<a href="mailto:niko@wordsnumbersimages.com">
						<i class="icon-envelope-alt"></i>
					</a>
				</div>
			</div>
			<div class="adam-about">
				<%= image_tag "adam2.png" %>
				<div class="lead text-center">Adam Braus</div>
					Adam is a gregarious technologist and award winning entrepreneur. He got his chops out of school starting his own graphic and web design company abroad before working at Epic. His super power is knowing everything that is going on on the internet. He thrives on bringing out creativity and success in people around him.
				<div class="social-box">
					<%= link_to "www.linkedin.com/pub/adam-braus/1a/543/193/" do %>
						<i class="icon-linkedin"></i>
					<% end %>
					<a href="mailto:adam@wordsnumbersimages.com">
						<i class="icon-envelope-alt"></i>
					</a>
					<%= link_to "https://twitter.com/ajbraus" do %>
						<i class="icon-twitter"></i>
					<% end %>
					<%= link_to "https://github.com/ajbraus" do %>						
						<i class="icon-github"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="contact_us" class="row contact_us">
	<div class="clearfix block contact">
		<h4 class="text-center">Contact us</h4>
		<%= form_for @email_subscription do |f| %>
		  <% if @email_subscription.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@email_subscription.errors.count, "error") %> prohibited this email_subscription from being saved:</h2>

		      <ul>
		      <% @email_subscription.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <%= f.label :name, "name*" %>
			<%= f.text_field :name %>

		  <%= f.label :email, "email*" %>
			<%= f.text_field :email %>

		  <%= f.label :phone, "phone (optional)" %>
			<%= f.text_field :phone %>

		  <%= f.label :message, "message*" %>
			<%= f.text_area :message %>
<br>
			<%= f.submit "Send", class:"btn btn-success" %>
		<% end %>
	</div>
</div>