<div id="home" class="row home">	
<div class="container">
	<div class="row">
		<h1>Artup Weekend</h1>
	<!-- <p>less talk, more art</p> -->
	</div>
	<div class='row'>
			<p>Madison, WI June 15 <a href="#">register ($50)</a></p>
			<p><a href="#contact_us">your city here . . .</a></p>
	</div>
</div>
</div>

<div id="how" class="row how">
	<div class="container">
		<div class="row">
			<h1>How It Works</h1>
				<p>Creative people show up</p>
				<p>They bring one 11x17 sketch and one 8x10 artist statment per work of art they want to collaborate on</p>
				<p>Everyone gets 5 votes</p>
				<p>Everyone votes for projects they want to see made</p>
				<p>Teams form around the top 15-25 projects</p>
				<p>Funds for materials are available based on votes to those pieces</p>
			<blockquote>
				48 hours later
			</blockquote>
			<p>Teams present their art</p>
			<hr>
			<blockquote>
				Total: 54 hours
			</blockquote>
		</div>
	</div>
</div>

<div id="contact_us" class="row contact_us">
	<div class="clearfix contact">
		<h1>Contact us</h1>
		<div class="span7 offset2">
		<%= form_for @email_subscription do |f| %>
		  <% if @email_subscription.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@email_subscription.errors.count, "error") %> prohibited this email_subscription from being saved:</h2>

		      <ul>
		      <% @email_subscription.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <%= f.label :name, "name*" %>
			<%= f.text_field :name %>

		  <%= f.label :email, "email*" %>
			<%= f.text_field :email %>

		  <%= f.label :phone, "phone*" %>
			<%= f.text_field :phone %>

		  <%= f.label :message, "message*" %>
			<%= f.text_area :message %>
<br>
			<%= f.submit "Send", class:"btn btn-success pull-right send-button" %>
		<% end %>
		</div>
	</div>
</div>