<div id="home" class="row home">	
		<h1>Artup Weekend</h1>
	<!-- <p>less talk, more art</p> -->
	<div class="span12">
		<div class="span6 pull-right">
	    <blockquote class="pull-right" style="margin-top: 30px;">
	      <p>Every child is an artist. The problem is how to remain an artist once they grow up.</p>
	      <small><cite title="Source Title">Pablo Picasso</cite></small>
	    </blockquote>
	  </div>
	</div>
	<div class='row'>
		<div class="span12">
			<p>Madison, WI June 15 <a href="#">register ($50)</a> (first ever)</p>
			<p><a href="#contact_us">your city here . . .</a></p>
		</div>
	</div>
</div>

<div id="how" class="row how">
	<div class="span12">
	<h1>How It Works</h1>
		<p>A bunch of creative people show up</p>
		<p>As many as like pitch one or more idea for a work of art</p>
		<p>Everyone gets 3 votes</p>
		<p>Everyone votes for art they want to see made</p>
		<p>Top 15-25 pieces are chosen</p>
		<p>Teams form around each concept</p>
		<p>Funds for materials are alloted based on votes to those pieces</p>
	<blockquote>
		48 hours later
	</blockquote>
	<p>Teams present their art</p>
	<hr>
	<blockquote>
		Total: 54 hours
	</blockquote>
</div>
</div>

<div id="join" class="row join">
<h1>Join</h1>
</div>

<div id="organize" class="row organize">
<h1>Organize</h1>

<dl>
	<dt>Register</dt>
	<dd>
		Contact the team at artup weekend and we will give you approval and the
	</dd>
	<dt>Organize</dt>
	<dd>
		We have strategies to help you get the following:
		<ul>
			<li>
				Venue
			</li>
			<li>
				Attracting Artists
			</li>
			<li>
				Sponsors
			</li>
			<li>
				Speakers
			</li>
			<li>
				Ticketing
			</li>
			<li>
				Marketing
			</li>
			<li>
				Swag
			</li>
		</ul>
	</dd>
	<dt>Organize</dt>
	<dd>Blah</dd>
	<dt>Organize</dt>
	<dd>Blah</dd>
</dl>
</div>

<div id="contact_us" class="row contact_us">
	<div class="clearfix contact">
		<h4>Contact us</h4>
		<%= form_for @email_subscription do |f| %>
		  <% if @email_subscription.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@email_subscription.errors.count, "error") %> prohibited this email_subscription from being saved:</h2>

		      <ul>
		      <% @email_subscription.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <%= f.label :name, "name*" %>
			<%= f.text_field :name %>

		  <%= f.label :email, "email*" %>
			<%= f.text_field :email %>

		  <%= f.label :phone, "phone (optional)" %>
			<%= f.text_field :phone %>

		  <%= f.label :message, "message*" %>
			<%= f.text_area :message, value: "blah:&nl2br; blah:" %>
<br>
			<%= f.submit "Send", class:"btn btn-success" %>
		<% end %>
	</div>
</div>