
<div class="row event-image" style="background-image:url(<%= @event.img_url %>);">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 well event-show-details">
				<h3><%= @event.name %> </h3>
        <div class="clearfix">
  				<div class="lead pull-left">
  					<div>Date: <strong><%= @event.start_date %> - <%= @event.end_date %> </strong></div>
  					<div>Venue: <strong><%= @event.location %></strong></div>
  					<%= link_to "Back Artup Weekend #{@event.slug.titleize}", @event.campaign_url, class:"btn btn-lg btn-info", target: "_blank" if @event.campaign_url.present? %>
  				</div>
          <% if @event.tickets_url.present? %>
            <div class="pull-right">
              <%= link_to "RSVP", @event.tickets_url, class:"btn btn-primary", target:"_blank" %>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
          <p class="text-right"><%= link_to "edit", edit_event_path(@event) %></p>
        <% end %>
			</div>
		</div>
		<div class="social-shares">
      <% if @event.twitter_handle.present? %>
		  <a href="https://twitter.com/share" class="twitter-share-button" data-via="<%= @event.twitter_handle %>" data-size="large" data-hashtags="<%= @event.twitter_handle %>">Tweet</a>
		  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <% end %>
      <% if @event.facebook_page_url.present? %>
			  <div class="fb-like" data-href="<%= @event.facebook_page_url %>" data-send="true" data-width="150" data-show-faces="true"></div>
      <% end %>
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
  	<% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
  	<div class="panel panel-primary margin-top">
  		<div class="panel-heading">
  		  <h2 class="panel-title">You are an Administrator of this Artup Weekend event. <%= link_to "Edit ...", edit_event_path(@event) %></h2>
  		</div>
  	</div>
  	<% end %>
  	<div class="col-sm-7">
  		<p>
  			<h4>Organizers</h4>
  			<ul>
  				<% @event.organizers.each do |o| %>
  					<li><%= o.first_name %></li>
  				<% end %>
  			</ul>
  		</p>
  		<p>
  			<h4>Sponsors</h4>
  					<% @event.sponsors.each do |s| %>
  						<div class="sponsor clearfix">
  							<div class="pull-left img">
  								<%= image_tag s.logo.url(:medium), class:"medium-thumbnail img-rounded" %>
  							</div>
  							<div class="pull-left name">
  								<%= s.name %><br>
  								<%= link_to "#{s.url}", s.url, target:"_blank" %>
  							</div>
  							<div class="pull-right delete">
  								<% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
  									<td><%= link_to "X", sponsor_path(s), method:"DELETE", rel:"tooltip", title:"Delete", confirm: "Are you sure you want to delete this Sponsor?" %></td>
  								<% end %>
  							</div>
  						</div>
  					<% end %>
  			<% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
  				<div class="clear-both well clearfix">
  					<h5>Add New Sponsor</h5>
  				<%= form_for @event.sponsors.new do |f| %>
  					<p><%= f.label :logo, "Logo*" %></p>
  					<p><%= f.file_field :logo %></p>
  					<p><%= f.text_field :name, placeholder:"Name*" %></p>
  				  <p><%= f.text_field :email, placeholder:"Email* (private)" %></p>
  					<p><%= f.text_field :url, placeholder:"Website*" %></p>
  					<p><%= f.hidden_field :event_id, value: @event.id %></p>
  					<div>* indicates required field</div>
  					<hr>
  					<div class="text-right"><%= f.submit class:"btn btn-success" %></div>
  					<div class='text-right muted'>This will send a "Thank You" email</div>
  				<% end %>
  				</div>
  			<% end %>
  		</p>
  	</div>
		<div class="col-sm-5">
			<%= raw(youtube_embed(@event.video_url)) if @event.video_url.present? %>
			<p>
				<h4>Prizes</h4>
				<table class="table">
					<% @event.prizes.each do |p| %>
						<tr>
							<td><%= p.title %></td>
							<% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
								<td><%= link_to "X", prize_path(p), method:"DELETE", rel:"tooltip", title:"Delete", confirm: "Are you sure you want to delete this Prize?" %></td>
							<% end %>
						</tr>
					<% end %>
				</table>
				<% if user_signed_in? && (@event.organizers.include?(current_user) || current_user.admin?) %>
					<div class="clear-both well clearfix">
						<h5>Add New Prize</h5>
					<%= form_for @event.prizes.new do |f| %>
						<p><%= f.text_field :title, placeholder:"Prize*" %></p>
						<p><%= f.hidden_field :event_id, value: @event.id %></p>
						<div>* indicates required field</div>
						<hr>
						<div><%= f.submit class:"btn btn-success pull-right" %></div>
					<% end %>
					</div>
				<% end %>
			</p>
		</div>
	</div>
</div>

