<div class="container padding-top">
  <div class="row">
		<div class="col-sm-6">
			<img src="<%= @event.img_url %>"/>
			<h2><%= @event.name %> </h2>
			<% if @event.organizers.include?(current_user) || current_user.admin? %>
				<%= link_to "edit", edit_event_path(@event) %>
			<% end %>
			<div class="lead">
				<div>Date: <strong><%= @event.start_date %> - <%= @event.end_date %> </strong></div>
				<div>Venue: <strong><%= @event.location %></strong></div>
				<%= link_to "Back Artup Weekend #{@event.slug.titleize}", @event.campaign_url, class:"btn btn-large btn-info", target: "_blank" if @event.campaign_url.present? %>
			</div>
		</div>
		<div class="col-sm-6">
			<%= raw(youtube_embed(@event.video_url)) if @event.video_url.present? %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<p>
				<h4>Organizers</h4>
				<ul>
					<% @event.organizers.each do |o| %>
						<li><%= o.first_name %></li>
					<% end %>
				</ul>
			</p>
			<p>
				<h4>Prizes</h4>
				<ul>
					<% @event.prizes.each do |p| %>
						<li><%= p.title %></li>
					<% end %>
				</ul>
				<% if @event.organizers.include?(current_user) || current_user.admin? %>
					<div class="clear-both well clearfix">
						<h5>Add New Prize</h5>
					<%= form_for @event.prizes.new do |f| %>
						<p><%= f.text_field :title, placeholder:"Prize" %></p>
						<p><%= f.hidden_field :event_id, value: @event.id %></p>
						<hr>
						<div><%= f.submit class:"btn btn-success pull-right" %></div>
					<% end %>
					</div>
				<% end %>
			</p>
		</div>
		<div class="col-sm-6">
			<h4>Sponsors</h4>
					<% @event.sponsors.each do |s| %>
						<div class="sponsor clearfix">
							<div class="pull-left img">
								<%= image_tag s.logo.url(:medium), class:"medium-thumbnail img-rounded" %>
							</div>
							<div class="pull-left name">
								<%= s.name %><br>
								<%= link_to "#{s.url}", s.url, target:"_blank" %>
							</div>
						</div>
					<% end %>
			<% if @event.organizers.include?(current_user) || current_user.admin? %>
				<div class="clear-both well clearfix">
					<h5>Add New Sponsor</h5>
				<%= form_for @event.sponsors.new do |f| %>
					<p><%= f.label :logo, "Attach Logo*" %></p>
					<p><%= f.file_field :logo %></p>
					<p><%= f.text_field :name, placeholder:"Name" %></p>
				  <p><%= f.text_field :email, placeholder:"Email (private)" %></p>
					<p><%= f.text_field :url, placeholder:"Website" %></p>
					<p><%= f.hidden_field :event_id, value: @event.id %></p>
					<hr>
					<div><%= f.submit class:"btn btn-success pull-right" %></div>
				<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

