<div class="container padding-top">
  <div class="row">
		<div class="col-sm-6">
			<img src="<%= @event.img_url %>"/>
			<h2><%= @event.name %> </h2>
			<div class="lead">
				<div>Date: <strong><%= @event.start_date %> - <%= @event.end_date %> </strong></div>
				<div>Venue: <strong><%= @event.location %></strong></div>
				<%= link_to "Back Artup Weekend #{@event.slug.titleize}", @event.campaign_url, class:"btn btn-large btn-info", target: "_blank" %>
			</div>
		</div>
		<div class="col-sm-6">
			<%= raw(youtube_embed(@event.video_url)) if @event.video_url.present? %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Organizers</h4>
			<ul>
				<% @event.organizers.each do |o| %>
					<li><%= o.first_name %></li>
				<% end %>
			</ul>
		</div>
		<div class="col-sm-6">
			<h4>Sponsors</h4>
			<ul>
				<% @event.sponsors.each do |s| %>
					<li><%= link_to s.name, s.url %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h4>Mentors/Volunteers</h4>
			<ul>
				<% @event.teammates.each do |o| %>
					<li><%= o.first_name %></li>
				<% end %>
			</ul>
		</div>
		<div class="col-sm-6">
			<h4>Atteendees</h4>
			<ul>
				<% @event.guests.each do |s| %>
					<li><%= link_to s.name, user_path(s) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

