  <div class="hero clearfix">
    <div class="container">
      <h1>Artup Weekend</h1>
      <div class="artist-maker-entrepreneur">
        <h3><i class="icon-brush"></i></h3>
        <div class="lead">
          Artup Weekend is where people create and propagate art.
        </div>
      </div>
      <div class="social-shares">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="artupweekend" data-size="large" data-hashtags="artupweekend">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="fb-like" data-href="http://www.facebook.com/artupweekend" data-send="true" data-width="150" data-show-faces="true"></div>
      </div>
    </div>
  </div>
  <% if @tag.present? %>
    <h1 class='tag-header'># <%= @tag  %></h1>
  <% end %>
  <div class="container">
    <div class="row">
  <div class="span9">
    <div class="posts-list">
      <ul class="posts">
        <% @posts.each do |post| %>
          <%= render partial: 'post', locals: { :post => post } %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span3">         
    <div id="tag_cloud">
      <h3>Tags</h3>
      <% tag_cloud Post.tag_counts, %w[l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: "label" %>
      <% end %>
    </div>
    <hr>
        <div>
      <%= link_to "Host Your Artup Weekend", new_event_application_path, class:"btn btn-primary" %>
    </div>     
    <hr>
    <div>
      <h3>Events</h3>
      <% @events.each do |event| %>
        <div>
          <%= link_to event_path(event) do %>
            <%= event.name %> 
          <% end %>
            - <%= event.date_range %> - <%= link_to "Tickets are a reward through Kickstarter", "http://www.kickstarter.com/projects/94693526/artup-weekend-0" %></a></div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<div id="how" class="hero">
  <div class="container">
    <h1>How It Works</h1>
      <div>Creative people show up</div>
      <div>They pitch great ideas for works of art, kickstarters, and art businesses</div>
      <div>Everyone gets <span><h2 style="display:inline;">3</h2></span> votes</div>
      <div>Everyone votes for projects they want to see made</div>
      <div>Teams form around the <span><h2 style="display:inline;">top</h2></span> projects</div>
      <div>Funds for materials are available based on votes to those pieces</div>
    <blockquote>
      <span><h2 style="display:inline;">48</h2></span> hours later
    </blockquote>
    <div>They pitch again what they did</div>
    <div>Prizes are distributed and a gallery of the art begins.</div>
    <hr>
    <blockquote>
      Total: 54 hours
    </blockquote>
  </div>
</div>

<div id="contact_us" class="contact_us">
  <div class="clearfix contact container">
    <a href="mailto:team@artupweekend.org"><h1>Contact us</h1></a>
  </div>
  <div class="pull-left">
    <!-- Begin MailChimp Signup Form -->
    <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://artupweekend.us7.list-manage.com/subscribe/post?u=9bf3a22511fef349cfd8d9350&amp;id=1a5a3be54c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h2>Subscribe to our mailing list</h2>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address
    </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-large"></div>
    </form>
    </div>
    <script type="text/javascript">
    var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
    try {
        var jqueryLoaded=jQuery;
        jqueryLoaded=true;
    } catch(err) {
        var jqueryLoaded=false;
    }
    var head= document.getElementsByTagName('head')[0];
    if (!jqueryLoaded) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
        head.appendChild(script);
        if (script.readyState && script.onload!==null){
            script.onreadystatechange= function () {
                  if (this.readyState == 'complete') mce_preload_check();
            }    
        }
    }
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
    head.appendChild(script);
    var err_style = '';
    try{
        err_style = mc_custom_error_style;
    } catch(e){
        err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
    }
    var head= document.getElementsByTagName('head')[0];
    var style= document.createElement('style');
    style.type= 'text/css';
    if (style.styleSheet) {
      style.styleSheet.cssText = err_style;
    } else {
      style.appendChild(document.createTextNode(err_style));
    }
    head.appendChild(style);
    setTimeout('mce_preload_check();', 250);

    var mce_preload_checks = 0;
    function mce_preload_check(){
        if (mce_preload_checks>40) return;
        mce_preload_checks++;
        try {
            var jqueryLoaded=jQuery;
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        try {
            var validatorLoaded=jQuery("#fake-form").validate({});
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        mce_init_form();
    }
    function mce_init_form(){
        jQuery(document).ready( function($) {
          var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
          var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
          $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
          options = { url: 'http://artupweekend.us7.list-manage.com/subscribe/post-json?u=9bf3a22511fef349cfd8d9350&id=1a5a3be54c&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            $('#mce_tmp_error_msg').remove();
                            $('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            var bday = false;
                                            if (fields.length == 2){
                                                bday = true;
                                                fields[2] = {'value':1970};//trick birthdays into having years
                                            }
                                          if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else {
                              if (/\[day\]/.test(fields[0].name)){
                                                  this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                              } else {
                                                  this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                              }
                                          }
                                        });
                                });
                            return mce_validator.form();
                        }, 
                        success: mce_success_cb
                    };
          $('#mc-embedded-subscribe-form').ajaxForm(options);
          
          
        });
    }
    function mce_success_cb(resp){
        $('#mce-success-response').hide();
        $('#mce-error-response').hide();
        if (resp.result=="success"){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(resp.msg);
            $('#mc-embedded-subscribe-form').each(function(){
                this.reset();
          });
        } else {
            var index = -1;
            var msg;
            try {
                var parts = resp.msg.split(' - ',2);
                if (parts[1]==undefined){
                    msg = resp.msg;
                } else {
                    i = parseInt(parts[0]);
                    if (i.toString() == parts[0]){
                        index = parts[0];
                        msg = parts[1];
                    } else {
                        index = -1;
                        msg = resp.msg;
                    }
                }
            } catch(e){
                index = -1;
                msg = resp.msg;
            }
            try{
                if (index== -1){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);            
                } else {
                    err_id = 'mce_tmp_error_msg';
                    html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                    
                    var input_id = '#mc_embed_signup';
                    var f = $(input_id);
                    if (ftypes[index]=='address'){
                        input_id = '#mce-'+fnames[index]+'-addr1';
                        f = $(input_id).parent().parent().get(0);
                    } else if (ftypes[index]=='date'){
                        input_id = '#mce-'+fnames[index]+'-month';
                        f = $(input_id).parent().parent().get(0);
                    } else {
                        input_id = '#mce-'+fnames[index];
                        f = $().parent(input_id).get(0);
                    }
                    if (f){
                        $(f).append(html);
                        $(input_id).focus();
                    } else {
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            } catch(e){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);
            }
        }
    }

    </script>
    <!--End mc_embed_signup-->
  </div>

</div>