<div class="hero">
  <h1>Artup Weekend</h1>
  <div class="lead">
    Artup Weekend is a local event in your city or community where people form teams to create and propagate art. 
    <h3>Events</h3>
    <% @events.each do |event| %>
      <div>
        <%= link_to event_path(event) do %>
          <%= event.name %> 
        <% end %>
          - <%= event.date_range %> <%= link_to "register ($30)", "http://www.kickstarter.com" %></a></div>
    <% end %>
    <div><a href="mailto:team@artupweekend.org?subject=I'm Intereseted in Hosting an Artup Weekend in My City">your city here . . .</a></div>     
    <div class="social-shares">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="artupweekend" data-size="large" data-hashtags="artupweekend">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="http://www.facebook.com/artupweekend" data-send="true" data-width="150" data-show-faces="true"></div>
    </div>
  </div>
</div>
<div class="container-fluid">
      <% if @tag.present? %>
        <h1 class='tag-header'># <%= @tag  %></h1>
      <% end %>
  <div class="row-fluid posts-list">
    <div class="span9">
      <div class="lead"><strong>Art it Up</strong> - Artup Weekend's blog - post, share, and find collaborative art</div>
      <ul class="posts">
      <% @posts.each do |post| %>
        <li class="clear-both post">
          <div class="row-fluid post-item">
            <div class="span2">
              <div class="vote-count">
                <%= post.plusminus %>
              </div>
              <div class="votes-post">
                <% if user_signed_in? %>
                  <%= link_to vote_up_post_path(post) do %>
                    <p><i class="icon-chevron-up <%= current_user.voted_for?(post) ? 'voted' : 'not-voted' %>"></i></p>
                  <% end %>
                  <% if user_signed_in? && current_user.karma > 100 %>
                    <%= link_to vote_down_post_path(post) do %>
                      <p><i class="icon-chevron-down <%= current_user.voted_against?(post) ? 'voted' : 'not-voted' %>"></i></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= link_to post do %>
              <div class="post-content">
                <strong><%= post.title %></strong>
                <div class="muted medium">
                  <%= auto_link(post.short_body) %>
                </div>
                <div class="small pull-right">
                  <%= post.nice_created_at %>
                </div>            
                <div class="muted pull-right small">
                  <%= post.user.username %>
                </div>
              </div>
            <% end %>
          </div>
        </li>
    <% end %>
    </ul>
    </div>
    <div class="span3">         
      <div id="tag_cloud">
        <h3>Tags</h3>
        <% tag_cloud Post.tag_counts, %w[l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: "label" %>
        <% end %>
      </div>
    </div>
  </div> 
</div>
<div id="how" class="row how">
  <div class="container">
    <div class="row">
      <h1>How It Works</h1>
        <div>Creative people show up</div>
        <div>They pitch great ideas for works of art, kickstarters, and art businesses</div>
        <div>Everyone gets <span><h2 style="display:inline;">3</h2></span> votes</div>
        <div>Everyone votes for projects they want to see made</div>
        <div>Teams form around the <span><h2 style="display:inline;">top</h2></span> projects</div>
        <div>Funds for materials are available based on votes to those pieces</div>
      <blockquote>
        <span><h2 style="display:inline;">48</h2></span> hours later
      </blockquote>
      <div>They pitch again what they did</div>
      <div>Prizes are distributed and a gallery of the art begins.</div>
      <hr>
      <blockquote>
        Total: 54 hours
      </blockquote>
    </div>
  </div>
</div>

<div id="contact_us" class="row contact_us">
  <div class="clearfix contact container">
    <h1>Contact us</h1>
    <span class="black"> by clicking . . . 
    <a href="mailto:team@artupweekend.org">here</a></span>
  </div>
</div>