  <div class="hero clearfix">
    <div class="container">
      <h1>Artup Weekend</h1>
      <div class="artist-maker-entrepreneur">
        <h3><i class="icon-brush"></i></h3>
        <div class="lead">
          <p>
            Makers &#8226; Artists &#8226; Entrepreneurs
          </p>
          Artup Weekend is a weekend-long art create-a-thon
        </div>
        <div class="pull-left">
          <h4>Upcoming Events</h4>
          <% @upcoming_events.each do |event| %>
            <div class="small">
              <%= link_to event_path(event) do %>
                <%= event.name %> 
              <% end %>
                - <%= event.date_range %></a>
            </div>
          <% end %>
          <h5>Past Events</h5>
          <% @past_events.each do |event| %>
            <div class="small">
              <%= link_to event_path(event) do %>
                <%= event.name %> 
              <% end %>
                - <%= event.date_range %></a>
            </div>
          <% end %>
          <div class='pull-left'>
            <%= link_to "Host Your Own Artup Weekend", new_event_application_path, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="social-shares">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="artupweekend" data-size="large" data-hashtags="artupweekend">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="fb-like" data-href="http://www.facebook.com/artupweekend" data-send="true" data-width="150" data-show-faces="true"></div>
      </div>
    </div>
  </div>
  <% if @tag.present? %>
    <h1 class='tag-header'># <%= @tag  %></h1>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="posts-list">
          <% @posts.each do |post| %>
            <%= render partial: 'post', locals: { :post => post } %>
          <% end %>
        </div>
      </div>
      <%= render "welcome/sidebar" %>
    </div>
  </div>
</div>
<div id="how" class="hero">
  <div class="container">
    <div class="row">
      <h1>How It Works</h1>
      <div class="col-sm-6">
          <div>Creative people show up</div>
          <div>They pitch great ideas for works of art, kickstarters, and art businesses</div>
          <div>Everyone gets <span><h2 style="display:inline;">3</h2></span> votes</div>
          <div>Everyone votes for projects they want to see made</div>
          <div>Teams form around the <span><h2 style="display:inline;">top</h2></span> projects</div>
          <div>Funds for materials are available based on votes to those pieces</div>
        <blockquote>
          <span><h2 style="display:inline;">48</h2></span> hours later
        </blockquote>
        <div>They pitch again what they did</div>
        <div>Prizes are distributed and a gallery of the art begins.</div>
        <hr>
        <blockquote>
          Total: 54 hours
        </blockquote>
      </div>
    <div class="col-sm-6">
      <object width="100%" height="360"><param name="movie" value="//www.youtube.com/v/2GPnzcKEtD0?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/2GPnzcKEtD0?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0" type="application/x-shockwave-flash" width="100%" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
  </div>
  <hr>
  <div class="row">
    <h1>Gallery</h1>
    <div class="col-sm-6">
      <object width="100%" height="360"><param name="movie" value="//www.youtube.com/v/8s45rFcEbpE?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/8s45rFcEbpE?version=3&amp;hl=en_US&amp;rel=0;3&amp;autohide=1&amp;showinfo=0" type="application/x-shockwave-flash" width="100%" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
    <div class="col-sm-6">
      <object width="100%" height="360"><param name="movie" value="//www.youtube.com/v/Pd1Kcce4-qc?hl=en_US&amp;version=3&amp;rel=0;3&amp;autohide=1&amp;showinfo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/Pd1Kcce4-qc?hl=en_US&amp;version=3&amp;rel=0;3&amp;autohide=1&amp;showinfo=0" type="application/x-shockwave-flash" width="100%" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
  </div>
</div>

<div id="contact_us" class="contact_us clearfix">
  <div class="clearfix contact container">
    <a href="mailto:team@artupweekend.org"><h1>Contact us</h1></a>
  </div>
</div>