<div class="container-fluid">
  <%= render 'header' %>
      <% if @tag.present? %>
        <h1 class='tag-header'># <%= @tag  %></h1>
      <% end %>
  <div class="row-fluid posts-list">
    <div class="span9">
    <ul>
    <% @posts.each do |post| %>
        <li class="clear-both post">
          <div class="row-fluid post-item">
            <div class="span2">
            <div class="vote-count">
              <%= post.plusminus %>
            </div>
            <div class="votes-post">
              <% if user_signed_in? %>
                <%= link_to vote_up_post_path(post) do %>
                  <p><i class="icon-chevron-up <%= current_user.voted_for?(post) ? 'voted' : 'not-voted' %>"></i></p>
                <% end %>
                <% if user_signed_in? && current_user.karma > 100 %>
                  <%= link_to vote_down_post_path(post) do %>
                    <p><i class="icon-chevron-down <%= current_user.voted_against?(post) ? 'voted' : 'not-voted' %>"></i></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            </div>
            <%= link_to post do %>
            <div class="span10">
              <h4><%= post.title %></h4>
              <div class="muted"><%= auto_link(post.short_body) %></div>
            </div>
            <div class="small pull-right">
              <%= post.nice_created_at %>
            </div>            
            <div class="muted pull-right small">
              <%= post.user.username %>
            </div>
            <% end %>
          </div>
        </li>
    <% end %>
    </ul>
    </div>
    <div class="span3">
      <div id="tag_cloud">
        <% tag_cloud Post.tag_counts, %w[l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: "label" %>
        <% end %>
      </div>
    </div>
  </div> 
</div>